* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

h1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
    color: white;
    font-size: 7em;
    letter-spacing: 5px;
}

h1::before {
    content: " ";
    animation: animate 3s linear infinite;
}

@keyframes animate {

    0% {
        content: "FIND ";
        color: aqua;
    }

    20% {
        content: "ASCII ";
        color: blueviolet;
    }

    40% {
        content: "VALUE ";
        color: yellow;
    }

    60% {
        content: "OF A ";
        color: rgb(120, 223, 255);
    }

    80% {
        content: "NUMBERS ";
        color: rgb(251, 23, 202);
    }

    100% {
        content: "BTW(1 TO 26) ";
        color: rgb(76, 255, 35);
    }
}

.box {
    margin: 1% 0% 0% 30%;
    width: 40%;
    height: 60vh;
    background-color: rgb(0, 0, 0);
    animation: bord 1s linear infinite;
}

@keyframes bord {

    0% {
        border: 5px solid rgb(255, 0, 0);
    }

    20% {

        border: 5px solid rgb(255, 239, 63);
    }

    40% {

        border: 5px solid rgb(39, 11, 255);
    }

    60% {

        border: 5px solid rgb(255, 132, 0);
    }

    80% {
        border: 5px solid rgb(255, 255, 255);
    }

    100% {

        border: 5px solid rgb(35, 255, 244);
    }
}
label{
    display: flex;
    justify-content: center;
    color: rgb(222, 240, 255); 
    font-size: 1.5em;
}
input{
margin: 0% 0% 0% 25%;
    font-size: 2em;
    color: black;
   text-align: center;
   padding:5px;
    width: 50%;
    height: 8vh;
    border-radius: 10px;
}
button{
    margin: 3% 0% 0% 36%;
    font-size: 1.5em;
    color: black;
   text-align: center;
   padding:5px;
    width: 30%;
    height: 8vh;
    border-radius: 10px;
    background:linear-gradient(90deg, rgb(255, 255, 4),rgb(246, 119, 210),rgb(255, 255, 4));
}
button:hover{
    background:linear-gradient(90deg,rgb(246, 119, 210), rgb(255, 255, 4),rgb(246, 119, 210));
}
#result{
    margin-top: 4%;
    display: flex;
    justify-content: center;
    color: rgb(53, 157, 241); 
    font-size: 1em;
}